{% comment %}
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">

<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<script src="https://fastly.jsdelivr.net/npm/live2d-widgets@0/autoload.js"></script>
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}
